<div style="display: flex;">
	<div style="overflow-y:scroll; height: [HEIGHT]px">
		[BUTTONS]
	</div>
	<svg width="[WIDTH]" height="[HEIGHT]" style="background-color: #ccc;">
		<line x1="50" y1="25" x2="50" y2="[HEIGHTminus50]" style="stroke:black;stroke-width:2"/>
		<line x1="10" y1="[HEIGHTminus100]" x2="[WIDTHminus25]" y2="[HEIGHTminus100]" style="stroke:black;stroke-width:2"/>
		[SCALEX]
		[SCALEY]
		[BODY]
	</svg>
</div>