<!--
body
{
  color: white;
  background-color: black;
}
.antbutton
{
  border: 1px solid;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  font-family: sans-serif;
  text-shadow: 1px 1px white;
}
/* Tootlip Code */
.note
{
  position: relative;
  border-top-width: medium;
}
.note .notetext
{
  visibility: hidden;
  width: auto;
  background-color: black;
  text-shadow: none;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: -150%;
  left: 50%;
  margin-left: -50%;
}
.note:hover .notetext
{
  visibility: visible;
  opacity: 1;
}
/* Tootlip Code Ende */
/* Style the tab */
.tab
{
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button
{
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover
{
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active
{
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent
{
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
-->