<style>
	body {
		color: white;
	  background-color: black;
  }
  .btn {
		background: #3498db linear-gradient(to bottom, #3498db, #2980b9);
		border-radius: 28px;
		font-family: Arial;
		color: #ffffff;
		font-size: 20px;
		margin: 10px 25px 0 0;
		padding: 10px 20px 10px 20px;
		text-decoration: none;
	}

	.btn:hover {
		margin: 0;
		background: #3cb0fd linear-gradient(to bottom, #3cb0fd, #3498db);
		text-decoration: none;
    margin: 10px 25px 0 0;
  }

	.caption {
		font-weight: bold;
		font-size: 15px;
		margin-top: 5px;
		margin-bottom: 25px;
	}

	.heute {
		width: auto;
		border: 5px solid #0c607e;
		font-size: large;
		margin: 5px;
		padding: 20px;
	}

	.notversorgung {
		background: #db8089 linear-gradient(to bottom, #ea8578, #b97a79);
		text-shadow: 0 -2px #999999, 2px 0 #999999, 0 2px #999999, -2px 0 #999999;
		font-size: large;
		font-weight: bold;
		border: 3px solid red;
		margin: 5px;
		padding: 10px;
	}
</style>